<!DOCTYPE html>
<!-- saved from url=(0053)https://getbootstrap.com/docs/3.3/examples/dashboard/ -->
<html lang="en">
<head>
    @Styles.Render("~/Content/justified-nav.css")
    @Scripts.Render("~/Scripts/jquery.min.js")
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-right">
                <div class="navbar">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Books", "Index", "Book")
                </li>
                <li>
                    @Html.ActionLink("Magazines", "Index", "Magazine")
                </li>
                <li>
                    @Html.ActionLink("Brochures", "Index", "Brochure")
                </li>
                <li>
                    @Html.ActionLink("Publication houses", "Index", "PublicationHouse")
                </li>
                <li>
                    @Html.ActionLink("All Publications", "Index", "AllPublication")
                </li>
            </ul>
        </div>
    </nav>

    <div class="container body-content body-admin">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
</body>
</html>