
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <!-- Custom styles for this template -->  
    @Styles.Render("~/Content/justified-nav.css")


</head>
<body>
    <div class="container">
        <div class="tabs">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Books <span class="sr-only">(current)</span></a></li>
                    <li><a href="#tab-2" data-toggle="tab">Reports</a></li>
                </ul>
            </div>
            <header class="masthead col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
                <h3 class="text-muted">User books</h3>
            </header>
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery-3.2.1.slim.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
</body>
</html>