@model IEnumerable<Library.Web.Entities.Publication>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/dashboard.css")
@Styles.Render("~/Content/Site.css")
<header class="masthead col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    <h3 class="text-muted">All pulications</h3>
</header>
<div class="tab-content col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <br />
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
