@model Entities.ViewModels.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- saved from url=(0050)https://getbootstrap.com/docs/3.3/examples/signin/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin</title>
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/Content/bootstrap.min.css")
    <!-- Custom styles for this template -->
    @Styles.Render("~/Content/signin.css")
    @Styles.Render("~/Content/Site.css")
</head>
<body>
    <div class="container form-auth">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading">Please sign in</h2>
            @Html.ValidationSummary()
            <label for="inputLogin" class="sr-only">Login</label>
            <input type="text" class="form-control text-box single-line" id="Email" name="Email" value="" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="text" class="form-control text-box single-line" id="Password" name="Password" value="" required="" autofocus="">
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <button class="btn btn-lg btn-primary btn-block" value="Login" type="submit">Sign in</button>
            @Html.ActionLink("Create account", "Register", "Account", null, new { @class = "btn btn-lg btn-succes btn-block" });
        }
    </div> <!-- /container -->
</body>
</html>
